/* Adaptações para dispositivos móveis */

.container {
    width: 100%; /* Ocupa a largura total da tela */
}

header h1 img {
    max-width: 100%; /* Imagem ocupa a largura total do contêiner pai */
    height: auto; /* Mantém a proporção da imagem */
}

.menu-opcoes ul {
    text-align: center; /* Centraliza os itens do menu */
}

.menu-opcoes ul li {
    display: inline-block; /* Alterado para ficar em linha */
    margin: 0 10px; /* Adiciona espaçamento entre os itens */
}

.social li {
    float: none; /* Remove o float para alinhar os ícones horizontalmente */
    display: inline-block; /* Mantém os ícones em linha */
    margin-right: 10px; /* Adiciona espaçamento entre os ícones */
}

.destaque img {
    width: 100%; /* Imagem de destaque ocupa a largura total do contêiner pai */
}

.painel {
    width: 100%; /* Painel ocupa a largura total do contêiner pai */
    margin: 10px 0; /* Adiciona margem superior e inferior */
    padding: 10px; /* Adiciona preenchimento interno */
}
