/* style.css */

/* estilos para tela desktop */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
}

/* Estilo para o botão maior */
.btn-maior {
    padding: 15px 30px; /* Ajuste o padding conforme necessário */
    background-color: #7399c2;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-maior:hover {
    background-color: #0056b3;
}

/* estilos para tela mobile */
@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    nav a {
        font-size: 18px;
    }
    .btn-maior {
        padding: 12px 25px; /* Ajuste o padding para mobile */
    }
}
